.container {
  margin: 0 1.5rem;
}

main {
  margin-top: var(--header-height);
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.button {
  background: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-one {
  height: 2px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}
